/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
@import './fonts/fonts.css';

:root {
  --color-primary: #EEEEEE;
  --color-dark-blue: #031BC7;
  --color-grey: #757575;
  --color-grey-green: #507387;
  --color-grey-blue: #015E99;
  --color-orange: #F0AC00;
  --color-light-blue: #00d4ff;
}

body, html, #app {
  background-color: #222831;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, p, a, input, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
