@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans-Regular'), url(OpenSans-Regular.woff2) format('woff2'), url(OpenSans-Regular.woff) format('woff'), url(OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
  src: local('OpenSans-Italic'), url(OpenSans-Italic.woff2) format('woff2'), url(OpenSans-Italic.woff) format('woff'), url(OpenSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans-Bold'), url(OpenSans-Bold.woff2) format('woff2'), url(OpenSans-Bold.woff) format('woff'), url(OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 700;
  src: local('OpenSans-BoldItalic'), url(OpenSans-BoldItalic.woff2) format('woff2'), url(OpenSans-BoldItalic.woff) format('woff'), url(OpenSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 500;
  src: local('OpenSans-SemiBold'), url(OpenSans-SemiBold.woff2) format('woff2'), url(OpenSans-SemiBold.woff) format('woff'), url(OpenSans-SemiBold.ttf) format('truetype');
}