@font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"),local("Roboto-Light"),url(Roboto-300.woff2) format("woff2"),url(Roboto-300.woff) format("woff"),url(Roboto-300.ttf) format("truetype");
  }
  @font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),local("Roboto-Regular"),url(Roboto-400.woff2) format("woff2"),url(Roboto-400.woff) format("woff"),url(Roboto-400.ttf) format("truetype");
  }
  @font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"),local("Roboto-Medium"),url(Roboto-500.woff2) format("woff2"),url(Roboto-500.woff) format("woff"),url(Roboto-500.ttf) format("truetype");
  }
  @font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"),local("Roboto-Bold"),url(Roboto-700.woff2) format("woff2"),url(Roboto-700.woff) format("woff"),url(Roboto-700.ttf) format("truetype");
  }